---
import Layout from '../../../layouts/Layout.astro';
import Breadcrumb from '../../../components/Breadcrumb.astro';
import EventList from '../../../components/events/EventList.astro';
import { EventFormat } from '../../../schemas/events';

---

<Layout title="Hector Matchplay">
	<main>
		<div class="breadcrumbs">
			<Breadcrumb title="Home" href="/" />
			<Breadcrumb title="Events" href="/events" />
		</div>
		<EventList title="Matchplay Events" formats={[EventFormat.Matchplay]} />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 900px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
