---
import type { HandicapHistoryEntry } from '../../schemas/handicaps';


interface Props {
	history: Array<HandicapHistoryEntry>;
	current: number|undefined;
}

const { history, current } = Astro.props;

const fullHistory = history.map(entry => ({ x: entry.date, y: entry.handicap }))
const lastTwenty = fullHistory.slice(-20)

---

<div class="handicap-history-chart-container">
	<canvas id="handicap-history-chart-canvas" data-handicap-history={JSON.stringify(lastTwenty)} data-current-handicap={current}></canvas>
</div>
<script src="./HandicapHistoryChart.ts"></script>

<style>
	.handicap-history-chart {
		background-color: #red;
		border-radius: 7px;
		box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
	}
	.handicap-history-chart-canvas {
		aspect-ratio: auto 900/600;
	}
</style>
