---
import Layout from '../layouts/Layout.astro';
import Breadcrumb from '../components/Breadcrumb.astro';
---

<Layout title="Lost ball">
	<main>
		<div class="breadcrumbs">
			<Breadcrumb title="Back" href="javascript: history.go(-1);" />
		</div>
		<h1>That was a mighty power draw...</h1>
		<p>...and a lost ball because we can't the ball you're looking for.</p>
		<div>
			<img src="/images/eagle-barf.png"/>
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 900px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}

	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 1em;
	}

	main p {
		text-align: center;
	}

	main div img {
		width: calc(80%);
		max-width: 300px;
	}

	main div {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	main .breadcrumbs {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	}
</style>
